<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="aservice" class="org.mini.test.service.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="org.mini.test.service.BaseService" name="ref1"
                  ref="baseService"/>
    </bean>
    <bean id="baseBaseService" class="org.mini.test.service.BaseBaseService">
        <property type="org.mini.test.service.AServiceImpl" name="as" ref="aservice" />
    </bean>
    <bean id="baseService" class="org.mini.test.service.BaseService">
<!--        <property type="org.mini.test.service.BaseBaseService" name="bbs"-->
<!--                  ref="basebaseservice" />-->
    </bean>
    <bean id="userService" class="org.mini.test.service.UserService" />


    <bean id="autowiredAnnotationBeanPostProcessor" class="org.mini.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
    <bean id="requiredAnnotationBeanPostProcessor" class="org.mini.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="webBindingInitializer" class="org.mini.test.DateInitializer">
    </bean>

    <bean id="handlerAdapter" class="org.mini.web.method.annotation.RequestMappingHandlerAdapter">
        <property type="org.mini.converter.HttpMessageConverter" name="messageConverter" ref="messageConverter"/>
        <property type="org.mini.web.bind.support.WebBindingInitializer" name="webBindingInitializer" ref="webBindingInitializer"/>
    </bean>

    <bean id="handlerMapping" class="org.mini.web.method.annotation.RequestMappingHandlerMapping"/>


    <bean id="viewResolver" class="org.mini.web.servlet.view.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="org.mini.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>

    <bean id="messageConverter" class="org.mini.converter.DefaultHttpMessageConverter">
        <property type="org.mini.util.ObjectMapper" name="objectMapper" ref="objectMapper"/>
    </bean>
    <bean id="objectMapper" class="org.mini.util.DefaultObjectMapper" >
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>

    <bean id="jdbcTemplate" class="org.mini.jdbc.core.JdbcTemplate" >
        <property type="javax.sql.DataSource" name="dataSource" ref="readDataSource"/>
    </bean>
    <bean id="writeDataSource" class="org.mini.jdbc.pool.PooledDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property type="int" name="initialSize" value="3"/>
    </bean>
    <bean id="readDataSource" class="org.mini.jdbc.pool.PooledDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property type="int" name="initialSize" value="3"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mini.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocations" value="mapper"></property>
    </bean>
<!--    aop-->
<!--    <bean id="action" class="org.mini.aop.ProxyFactoryBean" >-->
<!--        <property type="java.lang.Object" name="target" ref="realaction"/>-->
<!--        <property type="String" name="interceptorName" value="myInterceptor"/>-->
<!--    </bean>-->
    <bean id="realaction" class="org.mini.test.service.Action1" />
    <bean id="myInterceptor" class="org.mini.test.service.MyInterceptor" />
    <bean id="myBeforeAdvice" class="org.mini.test.service.MyBeforeAdvice" />

    <bean id="advisor" class="org.mini.aop.NameMatchMethodPointcutAdvisor">
        <property type="org.mini.aop.Advice" name="advice" ref="myBeforeAdvice"/>
        <property type="String" name="mappedName" value="do*"/>
    </bean>

    <bean id="action" class="org.mini.aop.ProxyFactoryBean">
        <property type="String" name="interceptorName" value="advisor" />
        <property type="java.lang.Object" name="target" ref="realaction"/>
    </bean>


</beans>
